<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 将下划线转换为驼峰 user_name 映射为 userName -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		
		<!-- 延迟加载适用于分步查询，且下面的两条语句都要设置 -->
		<!-- 开启延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 是否查询所有数据 -->
		<setting name="aggressiveLazyLoading" value="false" />
		
		<!-- 是否开启二级缓存 -->
		<setting name="cacheEnabled" value="true"/>
	</settings>
	
	<!-- 配置插件 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	</plugins>
	
</configuration>