<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- <properties>：用来设置或引入资源文件 resource：在类路径下访问资源文件 url：在网络路径或磁盘路径下访问资源文件 -->
	<properties resource="jdbc.properties"></properties>

	<settings>
		<!-- 将下划线转换为驼峰 user_name 映射为 userName -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		
		<!-- 延迟加载适用于分步查询，且下面的两条语句都要设置 -->
		<!-- 开启延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 是否查询所有数据 -->
		<setting name="aggressiveLazyLoading" value="false" />
		
		<!-- 是否开启二级缓存 -->
		<setting name="cacheEnabled" value="true"/>
	</settings>

	<typeAliases>
		<!-- 为类型设置类型别名 type:Java 类型，若只设置type，默认的别名就是类名，且不区分大小写 -->
		<!-- <typeAlias type="com.hr.bean.User" alias="u"/> -->

		<!-- 为包下的所有类 设置别名 -->
		<package name="com.hr.ssm.bean" />
	</typeAliases>
	
	<!-- 配置插件 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	</plugins>
	
	<!-- <environments>: 设置连接数据库的环境 default：设置默认使用的数据库环境 -->
	<environments default="mysql">
		<!-- <environment>:设置某个具体的数据库环境 id：数据库环境的唯一标识 -->
		<environment id="mysql">
			<!-- 设置事务管理器； type：事务管理方式JDBC|MANAGED，JDBC：使用JDBC原生的事务管理方式，即提交和回滚都需要手动处理 -->
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 引入映射文件 -->
	<mappers>
		<!-- <mapper resource="UserMapper.xml" />
		<mapper resource="EmpMapper.xml" />
		<mapper resource="DeptMapper.xml" /> -->
		
		<!-- 
			映射文件较多的时候，可以通过下面这种写法进行操作
			此种写法要求mapper接口和mapper映射文件必须在同一个包下 
			但是为了统一管理，将conf下的包名修改为com.hr.mapper与接口类同名即可
		-->
		<package name="com.hr.ssm.mapper"/>
	</mappers>
</configuration>